%% This is a CT config file, which can contain any number of elements like: {CfgVarName, Value}.
%% This is different from an Erlang config file, which has [{AppName, [{AppKey, AppValue}, ...]}, {...}]
%% Include this with "-config <path>" *before* the -erl_args flag
%% e.g. CT_OPTS="-config test/test.config -erl_args -config rel/sys.config"

{port, 8081}.
