%% This is an Erlang config file, which has [{AppName, [{AppKey, AppValue}, ...]}, {...}]
%% This is different from a CT config file, which can contain any number of elements like: {CfgVarName, Value}.
%% Include this with "-config <path>" *after* the -erl_args flag, if using in tests,
%% otherwise, just use -config rel/sys.config
%% e.g. CT_OPTS="-config test/test.config -erl_args -config rel/sys.config"

[
{egre_mud_1,
  [
   {port, 8081}
  ]
},

{kernel,
  [
   {logger_level, debug}
  ]
},

{mnesia,
  [
   {dir, "mnesia"}
  ]
},

{lager,
  [
   {colored, true},

   %% Have logs in the main directory instead of the release directory
   {log_root, "/home/lulu/dev/egre_mud_1/logs"},

   %% put the crash log in the same directory as the other logs instead
   %% of a child log/ directory
   {crash_log, "/home/lulu/dev/egre_mud_1/logs/crash.log"},

   {error_logger_hwm, 200},
   {error_logger_flush_threshold, 1000},

   {async_threshold,500},
   {async_threshold_window,250},


   %% default config
   {handlers,
     [{lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
     ]
   }
  ]}
].
